extends layout
block content
    h1 All courses of academy
    a.btn.btn-primary(href="/courses/add") Add new course
    table.table.table-striped
        thead
            tr
                th course id
                th course
                th
                th
                