extends layout
block content
    h1 All courses of academy
    a.btn.btn-primary(href="/courses/add") Add new course
    table.table.table-striped
        thead
            tr
                th course id
                th course
                th
                th
            tbody
                each course in course
                    tr
                        td= course.id
                        td= course.name
                        td(style="width: 50px;"): a(href="/courses/edit" + course.id)
                            span.glyphicon-pencil
                        td(style="width: 50px;"): a(href="/courses/delete" + course.id)
                            span.glyphicon-remove